<?xml version="1.0" encoding="utf-8"?>
<jnlp spec="1.0+" codebase="http://scilver.googlecode.com/svn/webstart" href="$outputFile">
 <information>
    <title>Scilver</title>
    <vendor>Andrey Yeremenok</vendor>
    <homepage href="http://code.google.com/p/scilver/"/>
    <description kind="one-line">Scilver</description>
    <description kind="short">Scilver - a scala twitter client</description>
    <description kind="tooltip">Scilver - a scala twitter client</description>
    <icon href="http://www.gstatic.com/codesite/ph/images/defaultlogo.png" kind="default"/>
    <shortcut online="false"><desktop/><menu submenu="Scilver"/></shortcut>
 </information>
 <security>
 <all-permissions/>
 </security>
 <resources>
    <j2se version="1.6+" initial-heap-size="32m" max-heap-size="128m" />
    <property name="jnlp.versionEnabled" value="true"/>
    $dependencies
 </resources>
 <application-desc main-class="$mainClass">
 </application-desc>
</jnlp>
